#container
    - flash.each do |key, value|
        .alert{ :class => "alert-#{key}" }
            %button.close{ :onclick => "dismiss(this)" } x
            %strong
                = value
    .row
        %img{:src => "/assets/instagroom logo.png"}
    %hr
    -unless @currentuser
        = render partial: 'login'
    -else
        %p.lead
            Hi
            %strong
                = @currentuser.username
            you probably want to go to your
            = link_to("posts", user_posts_path(@currentuser))
            Or maybe
            = link_to("logout",logout_path)


