.row-fluid{ :style => "margin:auto;"}
    %span{:style => "display:inline-block"}
        .row
            %h5{:style => "display:inline-block"}= link_to post.user.username, user_posts_path(post.user)
            -if post.from_id
                %i.icon-small.icon-refresh{:style => "display:inline-block"}
                %h5{:style => "display:inline-block"}=link_to User.find(post.from_id).username, user_posts_path(User.find(post.from_id))
            -if post.source_id && post.source_id != post.user_id
                %h5.offset4{:style => "display:inline-block"} Source:
                %h5{:style => "display:inline-block"}= link_to User.find(post.source_id).username, user_posts_path(User.find(post.source_id))
        %li.thumbnail
            %a.thumbnail
                %img{ :src => "/uploads/#{@user.username}/#{post.id}/image",:style => "display:block; max-width:600px"}
            .caption
                %blockquote{:style => "margin:10 10 10 20"}
                %p= " " + post.content
