.well{:style => "position:relative"}
    -if authenticateOwnership(user.id)
        = link_to user_post_path(user,post), :method => :delete do
            %i.icon.icon-trash{:style => "position:absolute;top:5px;right:5px;z-index:10"}
    .a
        %span{:style => "display:inline-block;position:relative"}
            .row
                %h5{:style => "display:inline-block"}= link_to user.username, user_posts_path(user)
                -if post.from_id
                    %i.icon-small.icon-refresh{:style => "display:inline-block"}
                    %h5{:style => "display:inline-block"}=link_to User.find(post.from_id).username, user_posts_path(User.find(post.from_id))
                %small=time_ago_in_words(post.created_at ) +" ago"
                -if post.source_id && post.source_id != post.user_id
                    %h5.offset2{:style => "display:inline-block"} Source:
                    %h5{:style => "display:inline-block"}= link_to User.find(post.source_id).username, user_posts_path(User.find(post.source_id))

            %li.thumbnail
                %a.thumbnail
                    %img{ :src => "/uploads/#{@user.username}/#{post.id}/image",:style => "display:block; max-width:600px"}
                .caption
                    %blockquote{:style => "margin:10 10 10 20"}
                    %p= " " + post.content
