:javascript
    $(document).ready(function()
    {
       $("a.thumbnail img").click(fullscreen)
    });
.menu{:style => "position:fixed;right:30px;top:100px"}
    .ul{:style => "-webkit-font-smoothing:antialiased;list-style-type:none;border:1px solid rgba(0,0,0,.18);border-radius:6px;background-color:inherited"}
        %li{:style => "-webkit-box-shadow:0 0 2px rgba(0,0,0,.25) inset;-box-shadow:0 0 2px rgba(0,0,0,.25) inset"}
            =link_to "Followers", user_followers_path(@user), :class => "menu-link"
        %li{:style => "-webkit-box-shadow:0 0 2px rgba(0,0,0,.25) inset;-box-shadow:0 0 2px rgba(0,0,0,.25) inset"}
            =link_to "Following", user_following_path(@user), :class => "menu-link"
#container
    - flash.each do |key, value|
        .alert{ :class => "alert-#{key}" }
            %button.close{ :onclick => "dismiss(this)" } x
            %strong
                = value
    .row{:style => "display:inline-block"}
        %h1.page-header.offset4{:style => "display:inline-block"}= @user.username
        = link_to "Post", new_user_post_path(@user), :style => "display:inline-block", :class => "btn btn-info offset5"
        = link_to "Logout",logout_path, :style => "display:inline-block", :class => "btn btn-danger "
        -unless authenticateOwnership(@user.id)
            -if isUserFollowing(@user)
                = link_to "Unfollow", follows_path(:following_id => @user.id), :method => :delete, :class => "btn btn-shinyblue"
            -else
                = link_to "Follow", follows_path(:following_id => @user.id), :method => :post, :class => "btn btn-shinyblue"
    %section#posts
        %ul.thumbnails
            - @posts.each do |post|
                = render  "post", :post => post, :user => @user
                %hr

